// Variables ===
$color_light: #f9f7f7;
$color_dark: #000;
$color_one: #072a52;
$color_two:  #4956ba;

$color1: #0a1128;
$color2: #414073;
$color3: #9BA2FF;
$color4: #4956ba;
$color5: #A6B1E1;

$primary: #0a1128;
$danger: #ca1212;

$font_primary: 'Oxygen', sans-serif;
$font_secondary: 'Fjalla One', sans-serif;


// Breakpoints ===
$tab: 720px;
$desktop: 1200px;
