// Variables ===
$color_light: #f9f7f7;
$color_dark: #000;
$color_one: #072a52;
$color_two:  #3f72af;

$primary: #234c7e;
$danger: #ca1212;

$font_primary: 'Oxygen', sans-serif;
$font_secondary: 'Fjalla One', sans-serif;
