// Variables ===
$color_light: #f9f7f7;
$color_dark: #000;
$color_one: #072a52;
$color_two:  #3f72af;

$color1: #0a1128;
$color2: #3a405a;
$color3: #2f4858;
$color4: #034078;
$color5: #cee5f2;

$primary: #234c7e;
$danger: #ca1212;

$font_primary: 'Oxygen', sans-serif;
$font_secondary: 'Fjalla One', sans-serif;
